.centered {
    padding: 0 5%;
    max-width: calc(1600px + 10%);
    margin: 0 auto;
}

footer {
    background-color: #f2f2f2;
}

footer h6 {
    color: #616161;
    font-size: 15px;
    font-weight: 700;
}

footer li {
    padding: 8px 0;
}

footer a, footer span {
    color: #616161;
    text-decoration: none;
    font-size: 11px;
}

footer a:hover {
    color: #616161;
    text-decoration: underline;
}


 img {
    padding-right: 50px;
}
 li {
    list-style-type: none;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 700;
}

.card {display:inline-block;}

.centerdiv{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.installing{
    display: flex;
     justify-content: center;
    align-items: center;
}

.trySkype{
    margin-top: 70px;
}

.button .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #0078ca !important;
    margin-left: 44.5%;
    margin-top: 20px;
    margin-bottom: 20px;
}




.div2{
    margin-left: 20px;
}

.nav-item:hover{
    border-bottom: 3px solid;

   
}